.calculator-result {
    width: 100%;
    height: 200px;
    line-height: 60px;
    border-width: 0;
    text-align: right;
    font-size: 60px;
    color: #fff;
    background-color: #000;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 100px 10px;
    box-sizing: border-box;
    white-space: nowrap;
}
