.calculator {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #000;
    border-radius: 10px;
    padding-top: 24px;
}

.calculator-panel {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}
